@import "../../../utils/scss-variables.scss";

.events-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 72px 0;
  margin-bottom: 200px;
}

.content-card {
  position: absolute;
  top: 24%;
  left: 0;
  width: 56%;
  height: 640px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  color: white;
  padding: 48px;
  gap: 36px;
  h1 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: $secondary-color;
  }
  p {
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  button {
    width: fit-content;
  }
}

@media screen and (max-width: 480px) {
  .events-container {
    justify-content: center;
    padding: 0;
    margin-bottom: 340px;
  }
  .content-card {
    width: 100%;
    top: 12%;
    height: fit-content;
    h1 {
      font-size: 32px;
      line-height: 56px;
    }
  }
}
