.banner-wrap {
  height: 720px;
  background-image: url(/banner-bg-1.jpg);
  background-size: cover;
  opacity: 0.8;
  background-position: top;

  @media screen and (max-width: 1336px) {
    height: 560px;
  }

  @media screen and (min-width: 1600px) {
    height: 680px;
  }
  @media screen and (min-width: 1920px) {
    height: 768px;
  }
  @media screen and (max-width: 480px) {
    height: 360px;
    background-repeat: no-repeat;
  }
}
