@import "../../../utils/scss-variables.scss";
.banner {
  background-color: $black-21;
  width: 100%;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 42px;
    text-transform: uppercase;
    color: $secondary-color;
  }
}
