@import "../../../utils/scss-variables.scss";
.headerWrap {
  background-color: black;
  padding: 12px 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 1;
  color: white;
}
.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.linksList {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  li {
    color: #d4b05f;
    :hover {
      color: gold;
    }
  }
  &.right-links {
    justify-content: flex-end;
  }
}
